<div class="col-md-12 mt-3">
    <h1>{{ page_title }}</h1>
    <p *ngIf="status != 'success'">
        Modificar los datos de usuario
    </p>
    <hr>
    <div class="alert alert-success col-md-5" *ngIf="status == 'success'">
        El registro se ha completado exitosamente
    </div>
    <div class="alert alert-danger col-md-5" *ngIf="status == 'error'">
        El registro no se ha completado, problemas al registrar
    </div>
    <!-- Formulario de ajuste -->
    <form class="col-md-5 ml-0 pl-0" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+">
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                El nombre no es valido
            </small>
        </div>
        <div class="form-group">
            <label for="surname">Apellido</label>
            <input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z]+">
            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                El apellido no es valido
            </small>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                El email no es valido
            </small>
        </div>
        <div class="form-group">
            <label for="description">Biografia</label>
            <!-- <textarea [froalaEditor]="froalaOptions" class="form-control" name="description" #description="ngModel" 
                        [(ngModel)]="user.description">
                       
            </textarea> -->
            <textarea [froalaEditor]='froalaOptions' class="form-control" name="description" #description="ngModel" 
                        [(ngModel)]="user.description" [(froalaModel)]="user.description">
                       
            </textarea>
            <!-- <div [froalaView]="user.description"></div> -->
            <small *ngIf="!description.valid && description.touched" class="invalid-feedback d-block">
                La Descripcion no es valido
            </small>
        </div>
        <div class="form-group">
            <label for="image">Avatar</label>
            <div *ngIf="identity && identity.image">
                <img src="{{url+'user/avatar/'+identity.image}}" class="avatar_f">
            </div>
            <angular-file-uploader
                [config]="afuConfig"
                (ApiResponse)="avatarUpload($event)">
            </angular-file-uploader>
            
        </div>
        <input type="submit" value="Guadar Cambios" class="btn btn-success" [disabled]="userEditForm.invalid">
    </form>
    <br>
    
</div>